.ry-tooltable {
    th,
    td {
        padding: 1.2rem;
    }
    p.description {
        margin-bottom: 0;
    }
}

.ry-row > * {
    margin-bottom: 1rem;
}

.ry-toolkit-options td fieldset label {
    display: block;
}

.ry-row-posttypeinfo {
    th {
        vertical-align: top;
    }

    td p:last-of-type {
        margin-bottom: 0;
    }

    .info-table {
        width: 100%;

        th,
        td {
            color: #1d2327;
            padding: 8px 10px;
        }

        > tbody > tr > th {
            text-align: left;
            font-weight: 600;
            padding-left: 0;
        }
    }
}

@media screen and (min-width: 782px) {
    .ry-row {
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        margin-right: -1rem;
        margin-left: -1rem;

        > * {
            box-sizing: border-box;
            width: 100%;
            max-width: 100%;
            padding-right: 1rem;
            padding-left: 1rem;
        }
    }

    .ry-col {
        flex: 1 0 0%;
    }

    .ry-col-auto {
        flex: 0 0 auto;
        width: auto;
    }

    .ry-row-opcache .ry-col {
        flex: 0 0 auto;
        width: 50%;
    }

    .ry-tooltable .ry-row:last-of-type > * {
        margin-bottom: 0;
    }
}

@media screen and (min-width: 1400px) {
    .health-check-body {
        max-width: 1000px;
    }
}

@media screen and (min-width: 1600px) {
    .ry-row-opcache .ry-col {
        flex: 0 0 auto;
        width: 25%;
    }
}
